---
import { Image } from 'astro:assets';
import me from '../me.png';
import '../styles/global.css';
import { Font } from "astro:assets";
import { FaLinkedin } from "react-icons/fa";
import { RiInstagramFill } from "react-icons/ri";
import { FaGithubSquare } from "react-icons/fa";
import { FaMedium } from "react-icons/fa6";
import { FaFacebook } from "react-icons/fa";
import { MdEmail } from "react-icons/md";
import About from '@/components/about.astro';
import Certification from '@/components/Certification.astro';
import Education from '@/components/Education.astro';
import Experience from '@/components/Experience.astro';
import Projects from '@/components/Projects.astro';
import Blog from '@/components/Blog.astro';
import Main from '@/layouts/main.astro';
---


 <Main content={{ title: "Chamath Anjula" }}>

	 <Font cssVariable="--font-jetbrains-mono" preload />
	 
	 <div class="lg:grid lg:grid-cols-12 lg:min-h-screen lg:container mx-auto">
		 
		 <section class="lg:col-start-1 lg:col-end-4 lg:sticky lg:top-0 lg:max-h-screen border-b lg:border-b-0 lg:border-r gap-y-4 border-foreground flex flex-col items-center lg:justify-between py-10 lg:px-2">
			 <div class="flex flex-col items-center justify-center gap-y-4">
				 <Image
				 src={me}
				 alt=""
				 quality={100}
				 priority
				 loading="eager"
				 widths={[256, 512, me.width]}
				 sizes={`256px, (min-width: 1024px): 512px, (min-width: 1280px): ${me.width}px`}
				 class="size-48 border-2 border-white"
				 draggable={false}
				 />
				 
				 <div class="flex flex-1 flex-col items-center text-center">
					 <h1 class="text-xl leading-8 tracking-tight">Chamath Anjula</h1>
					 <span class="text-sm text-muted-foreground">
						 SE / Full Stack / AWS / LLM / NLP
						</span>
					</div>
				</div>
				
				<div class="flex w-full gap-4 text-3xl justify-center">
					<a
					href="https://www.linkedin.com/in/chamath-munasinghe-2602a7258/"
					target="_blank"
					rel="noopener noreferrer"
					aria-label="LinkedIn"
					>
					<FaLinkedin />
				</a>

				<a
				href="https://www.instagram.com/chamath_an/"
				target="_blank"
				rel="noopener noreferrer"
			aria-label="Instagram"
			>
			<RiInstagramFill />
		</a>
		
		<a
		href="https://github.com/chamathAn"
		target="_blank"
		rel="noopener noreferrer"
		aria-label="GitHub"
		>
		<FaGithubSquare />
	</a>
	
	<a
	href="https://medium.com/@chamathanjula2"
	target="_blank"
	rel="noopener noreferrer"
	aria-label="Medium"
	>
	<FaMedium />
</a>

<a
href="https://web.facebook.com/chamatha.munasinghe/"
target="_blank"
rel="noopener noreferrer"
aria-label="Facebook"
		>
			<FaFacebook />
		</a>

		<a
		href="mailto:chamathanjula2@gmail.com"
		aria-label="Email"
		>
			<MdEmail />
		</a>
	</div>
</section>

<section class="py-10 px-4 lg:px-2 flex gap-y-10 flex-col w-full lg:col-start-4 lg:col-end-12">
	<About />
	<Projects />
	<Experience />
	<Education />
	<Certification />
	<Blog />
</section>

</div>
</Main>