---
import { EXPERIENCE } from "../utils/constants";
---

<div class="flex flex-col gap-2">

  <h3 class="font-semibold">{"#experience"}</h3>

  <ul class="space-y-2 list-disc pl-5">
    {EXPERIENCE.map((job) => (
      <li>
        <span class="font-medium">
          {job.role} {" @ "} {job.company}
        </span>
        <span class="text-sm text-muted-foreground">
          {" - " + job.duration}
        </span>
      </li>
    ))}
  </ul>

</div>